@use "../variables/colors"as colors;
@import "../variables/breakpoints";

.todo {
	&__container {
		width: 50vw;
		height: 80%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding: 20px;
		border: 2px solid colors.$purple;
		border-radius: 8px;
		overflow: scroll;
	}

	&__btn {
		padding: 10px 25px;
		border-radius: 4px;

		&--add {
			background-color: colors.$purple;
			color: colors.$white;
			border: none;
		}
	}

	&__output {
		.output__list__item {
			display: flex;
			align-items: center;
			justify-content: space-between;

			span {
				display: flex;
				gap: 20px;
			}
		}
	}

}